{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My meetups{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'meetups/styles/base.css' %}">
    {% block site_css %}{% endblock %}
</head>
<body>

<header id="main-header">
    <nav href="/meetups" id="main-logo"> <a> DjangoMeetups </a> </nav>
    <h1>{% block main_heading %}{% endblock %}</h1>
    <p> Find the one that best suits your needs ! </p>
</header>

<main>
    {% block body %}{% endblock %}
</main>

</body>
</html>
